@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,700italic&display=swap');

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*===============icons-font==============*/

.select__value:after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

/*===============icons==============*/

._icon-arrow-down:before {
  content: "\e900";
}

._icon-arrow:before {
  content: "\e901";
}

._icon-email:before {
  content: "\e902";
}

._icon-phone:before {
  content: "\e903";
}

._icon-point:before {
  content: "\e904";
}

._icon-website:before {
  content: "\e905";
}

._icon-cross:before {
  content: "\e906";
}

/*==============================*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  font: 1.125rem/1 "Montserrat";
  color: #292929;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font: inherit/inherit "Montserrat";
}

button {
  background: transparent;
  cursor: pointer;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li,
summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #F5F5F5;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container--big] {
  max-width: 83.125rem;
  margin: 0 auto;
}

/*===============general-form==============*/

/*===============select==============*/

.select {
  min-width: 0;
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  background: #fff;
  color: inherit;
  text-align: left;
  border: 0.0625rem solid #D9D9D9;
  cursor: pointer;
  width: 100%;
  border-radius: 0.25rem;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 4.1875rem;
  height: 2.5rem;
  padding: 0.5625rem;
  gap: 0.5rem;
}

.select__value > * {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.select__value:after {
  content: "\e900";
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1rem;
  flex: 0 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

._select-open .select__value:after {
  color: #2362B6;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  line-height: 150%;
}

.select__text {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select__input {
  background: transparent;
  width: 100%;
  height: 100%;
}

.select__options {
  background: #fff;
  color: #000;
  position: absolute;
  top: calc(100% - 0.1875rem);
  border-radius: 0 0 0.25rem 0.25rem;
  min-width: 100%;
  left: 0;
  border: 0.0625rem solid #d9d9d9;
  border-top: 0;
  padding: 0.625rem 0rem 0.3125rem 0rem;
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}

.select__option {
  width: 100%;
  font-weight: 500;
  text-align: left;
  cursor: pointer;
  padding: 0.3125rem 0.563rem;
  color: inherit;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.select__option._select-selected {
  background: #fff;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  border: 0.0625rem solid #d9d9d9;
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.3125rem 0rem 0.625rem 0rem;
}

._select-tag {
  cursor: pointer;
}

/*===============ADAPTIVE-IMAGE==============*/

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
  object-fit: contain;
}

/*===============COMMON==============*/

/*===============title==============*/

.title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  font-size: 3.125rem;
}

.title::after {
  background: #2362B6;
  content: "";
  position: absolute;
  height: 0.1875rem;
  width: 80%;
  bottom: -0.4375rem;
  border-radius: 0.25rem;
}

/*===============map==============*/

.map {
  overflow: hidden;
  position: relative;
  border-radius: 1.875rem;
}

.map img {
  max-width: 100%;
}

.title-map {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1.875rem;
  left: 3.125rem;
  font-size: 2.1875rem;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*===============link==============*/

.footer-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  gap: 0.75rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer-link::before {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.875rem;
  flex: 0 0 1.875rem;
  width: 1.875rem;
  gap: 1.875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2362B6;
  font-size: 1.375rem;
}

/*==============================*/

/*===============HEADER==============*/

.header {
  background: #F5F5F5;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header._header-scroll {
  -webkit-box-shadow: 0rem 0.625rem 0.625rem 0rem rgba(0, 0, 0, 0.1);
  box-shadow: 0rem 0.625rem 0.625rem 0rem rgba(0, 0, 0, 0.1);
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}

.header__container--big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.1875rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.25rem;
  position: relative;
  z-index: 5;
}

.header__button {
  background: #2362B6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  padding: 0.6875rem 1.25rem;
  line-height: 150%;
  color: #FFFFFF;
  border-radius: 2.5rem;
  border: 0.0625rem solid #2362B6;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__item {
  position: relative;
}

.menu__item::after {
  background: #2362B6;
  content: "";
  position: absolute;
  height: 0.125rem;
  width: 0;
  bottom: -0.5rem;
  left: 0;
  border-radius: 0.25rem;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.menu__link {
  font-weight: 500;
}

/*==============================*/

.icon-menu {
  display: none;
}

/*===============HOMEPAGE==============*/

/*===============hero==============*/

.no-webp .hero__container--big{
  background: url("../img/hero/main-image.jpg") center/cover no-repeat; }

.hero__container--big {
  position: relative;
  border-radius: 1.875rem;
  margin-top: 6.25rem;
  padding-top: 6.875rem;
}

.hero__container--big::after {
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1.875rem;
  z-index: 1;
}

.hero__content {
  position: relative;
  z-index: 3;
  padding-left: 3.125rem;
}

.hero__title {
  font-size: 6.875rem;
  font-weight: 700;
  line-height: 115.5%;
  letter-spacing: 0.1375rem;
  color: #FFFFFF;
}

.hero__title:not(:last-child) {
  margin-bottom: 3.75rem;
}

.hero__services img {
  max-width: 100%;
}

.hero__bottom {
  position: relative;
  z-index: 3;
}

.hero__bottom img {
  max-width: 100%;
}

/*===============about==============*/

.about__container--big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 4.375rem;
  padding-bottom: 3.75rem;
}

.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__header:not(:last-child) {
  margin-bottom: 0.625rem;
}

.about__header img {
  width: 11.25rem;
}

.about__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.about__content:not(:last-child) {
  margin-bottom: 1.875rem;
}

.about__title {
  position: absolute;
  left: 0;
  top: 15%;
  z-index: 3;
  line-height: 120%;
  text-transform: uppercase;
  color: #2362B6;
  font-weight: 700;
  font-size: 9.375rem;
}

.about__title span {
  color: #F7C423;
}

.about__map {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}

.about__map img {
  max-width: 100%;
}

.about__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 25rem));
  gap: 1.5625rem;
}

.item-about {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.25rem;
  padding: 1.5625rem;
  border-radius: 1.875rem;
}

.item-about__icon {
  background: #2362B6;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 4.375rem;
  flex: 0 0 4.375rem;
  width: 4.375rem;
  height: 4.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
}

.item-about__text {
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 120%;
}

.item-about__text span {
  font-size: 1.125rem;
}

/*===============services==============*/

.services__container {
  padding-top: 4.375rem;
  padding-bottom: 3.75rem;
}

.services__title:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.services__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  -webkit-column-gap: 4.6875rem;
  -moz-column-gap: 4.6875rem;
  column-gap: 4.6875rem;
  row-gap: 2.1875rem;
}

.item-service {
  background: rgba(255, 255, 255, 0.5);
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
  -ms-grid-rows: auto auto 1fr;
  grid-template-rows: auto auto 1fr;
  padding: 2.5rem 1.4375rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.item-service__icon {
  display: inline-block;
  margin-bottom: 3.125rem;
}

.item-service__title {
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  color: #2362B6;
}

.item-service__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.item-service__text {
  line-height: 130%;
}

.item-service__text p:not(:last-child) {
  margin-bottom: 0.3125rem;
}

/*===============transport==============*/

.transport__container--big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 2.8125rem;
  padding-bottom: 4.0625rem;
}

.transport__top {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 1.875rem 1.875rem;
}

.transport__top img {
  max-width: 100%;
}

.transport__top::after {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.transport__rectangle {
  position: absolute;
  bottom: -0.3125rem;
  left: 0rem;
  z-index: 3;
}

.transport__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.transport__title::after {
  width: 30%;
}

.transport__title:not(:last-child) {
  margin-bottom: 3.4375rem;
}

.transport__text {
  line-height: 150%;
  font-size: 1.375rem;
}

.transport__text p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.transport__slider {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.transport__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transport__wrapper:not(:last-child) {
  margin-bottom: 2.5rem;
}

.transport__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 0.3125rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.transport .swiper-pagination-bullet {
  background: #D9D9D9;
  cursor: pointer;
  width: 2.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.transport .swiper-pagination-bullet-active {
  background: #2362B6;
}

.slide-transport {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.625rem;
  padding: 0.9375rem 1.25rem 1.5625rem 2.1875rem;
  border-radius: 1.25rem;
  border: 0.0625rem solid #D9D9D9;
}

.slide-transport__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.625rem;
  font-weight: 600;
  line-height: 150%;
  color: #2362B6;
  font-size: 1.5625rem;
}

.slide-transport__title::before {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.875rem;
  flex: 0 0 1.875rem;
  font-size: 1.375rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.875rem;
  width: 1.875rem;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.slide-transport__text {
  line-height: 130%;
}

.slide-transport__text p:not(:last-child) {
  margin-bottom: 0.3125rem;
}

/*===============company==============*/

.company__container--big {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.company__rectangle {
  max-width: 100%;
}

.company__header {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.company__header:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.company__title::after {
  width: 30%;
}

.company__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 1.25rem;
  margin-right: 1.875rem;
}

.company__nav:not(:last-child) {
  margin-bottom: 1.25rem;
}

.company__button {
  background: #BFBFBF;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.8125rem;
  flex: 0 0 2.8125rem;
  width: 2.8125rem;
  height: 2.8125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.25rem;
  border-radius: 50%;
  color: #FFFFFF;
  border: 0.0625rem solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.company__button.swiper-button-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.company__button--prev {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.company__button--next {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.item-company {
  overflow: hidden;
  border-radius: 1.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  border: 0.0625rem solid #BFBFBF;
}

.item-company__image--ibg {
  padding-bottom: 107%;
  overflow: hidden;
}

.item-company__image--ibg img {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

.item-company__body {
  padding: 1.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.9375rem;
}

.item-company__title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  color: #2362B6;
}

.item-company__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-company__subtitle {
  font-weight: 500;
  line-height: 130%;
}

.item-company__subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}

.item-company__number {
  font-weight: 700;
  line-height: 130%;
  font-size: 1.5rem;
}

.item-company__number:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.item-company__number span {
  font-weight: 500;
  font-size: 1.25rem;
}

.item-company__number--center {
  text-align: center;
}

.item-company__number--small {
  font-size: 1.25rem;
}

.item-company__number--small span {
  font-size: 1.125rem;
}

/*===============company-services==============*/

.company-services__container {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.company-services__title::after {
  width: 80%;
}

.company-services__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 4.6875rem;
  -moz-column-gap: 4.6875rem;
  column-gap: 4.6875rem;
}

.item-company-service {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}

.item-company-service__icon {
  -webkit-transform: translate(0rem, 5.625rem);
  -ms-transform: translate(0rem, 5.625rem);
  transform: translate(0rem, 5.625rem);
  -ms-grid-column-align: center;
  justify-self: center;
}

.item-company-service__body {
  background: #D9D9D9;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3.25rem 1fr auto;
  grid-template-rows: 3.25rem 1fr auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  justify-items: center;
  text-align: center;
  gap: 1.0625rem;
  padding: 6.25rem 2.8125rem 2.5rem 2.8125rem;
  border-radius: 0 0 1.25rem 1.25rem;
}

.item-company-service__logo {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.item-company-service__list {
  display: -ms-grid;
  display: grid;
  gap: 0.5625rem;
  text-align: center;
  justify-items: center;
}

.item-company-service__item {
  font-weight: 500;
  line-height: 110%;
  text-transform: uppercase;
}

.item-company-service__bottom {
  background: #fff;
  font-weight: 700;
  line-height: 130%;
  border-radius: 0.625rem;
  padding: 0.5rem 0.9375rem;
}

/*===============mission==============*/

.no-webp .mission__container{
  background: url("../img/mission/image-bg.jpg") center/cover no-repeat; }

.mission__container {
  position: relative;
  overflow: hidden;
  border-radius: 1.875rem;
  padding-top: 4.375rem;
  padding-bottom: 3.125rem;
  margin-top: 3.75rem;
  margin-bottom: 5rem;
}

.mission__container::after {
  background: rgba(52, 52, 52, 0.8);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 1.875rem;
  z-index: 1;
}

.mission__body {
  position: relative;
  z-index: 3;
  max-width: 62.5rem;
  margin: 0 auto;
  color: #FFFFFF;
}

.mission__title {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.mission__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.mission__text {
  margin-bottom: 0.9375rem;
}

.mission__text p {
  font-size: 1.25rem;
  line-height: 150%;
}

.mission__text p span {
  font-weight: 700;
}

.mission__text p:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.mission__president {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 3.125rem;
  -moz-column-gap: 3.125rem;
  column-gap: 3.125rem;
  row-gap: 0.625rem;
}

.mission__name {
  font-size: 1.375rem;
  font-style: italic;
  font-weight: 700;
  line-height: 150%;
}

.mission__sign img {
  max-width: 100%;
}

/*==============================*/

/*===============FOOTER==============*/

.footer {
  background: #BFBFBF;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: 1.25rem;
  padding-top: 3.75rem;
  padding-bottom: 3.125rem;
}

.footer__container--big {
  border-top: 0.0625rem solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 2.5rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

.footer__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.footer__copy {
  color: #FFFFFF;
  line-height: 135%;
  font-size: 1rem;
}

.footer__go-top {
  background: #292929;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.1875rem;
  flex: 0 0 2.1875rem;
  width: 2.1875rem;
  height: 2.1875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.3125rem;
  color: #FFFFFF;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.footer-info {
  display: -ms-inline-grid;
  display: inline-grid;
}

.footer-info__logo:not(:last-child) {
  margin-bottom: 2.5rem;
}

.footer-info__subtitle {
  font-size: 1.375rem;
  font-weight: 700;
}

.footer-info__subtitle:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.footer-contacts__title {
  color: #FFFFFF;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.footer-contacts__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer-contacts__list {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.footer-contacts__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.75rem;
}

.footer-contacts__item::before {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.875rem;
  flex: 0 0 1.875rem;
  width: 1.875rem;
  gap: 1.875rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #2362B6;
  font-size: 1.375rem;
}

.footer-contacts__links {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
}

.footer-contacts__link {
  font-weight: 500;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/*==============================*/

/*===============slider-swiper==============*/

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0rem, 0, 0);
  transform: translate3d(0rem, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

/*==============================*/

@media (min-width: 29.99875em) {
  .mission__president {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

@media (min-width: 37.49875em) {
  .company__nav {
    display: none;
  }
}

@media (min-width: 37.5em) {
  .company__wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13.125rem, 1fr));
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem;
    row-gap: 1.875rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (min-width: 47.99875em) {
  .company__about {
    -webkit-transform: translate(0rem, -1.875rem);
    -ms-transform: translate(0rem, -1.875rem);
    transform: translate(0rem, -1.875rem);
  }

  .company__about:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 61.99875em) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    row-gap: 0.3125rem;
  }

  .transport__slider {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

@media (min-width: 62.5em) {
  .transport__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5rem;
  }
}

@media (min-width: 71.875em) {
  .menu__list {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem;
  }
}

@media (min-width: 81.25em) {
  .menu__list {
    -webkit-column-gap: 2.1875rem;
    -moz-column-gap: 2.1875rem;
    column-gap: 2.1875rem;
  }
}

@media (min-width: 75em) {
  .hero__bottom {
    margin: 0 -4.6875rem;
  }

  .transport__top {
    margin: 0 -4.375rem;
  }

  .company__top {
    margin: 0 -4.375rem;
  }
}

@media (max-width: 75em) {
  .hero__title {
    font-size: 5.625rem;
  }

  .about__title {
    font-size: 8.125rem;
  }

  .slide-transport {
    padding: 1.0625rem 1.0625rem 1.0625rem 1.5625rem;
  }
}

@media (max-width: 74.9375em) {
  .hero__bottom {
    margin: 0 -0.9375rem;
  }
}

@media (max-width: 62.5em) {
  .transport__content:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 2.8125rem;
  }

  .title-map {
    font-size: 1.5625rem;
    top: 0.9375rem;
    left: 1.25rem;
  }

  .header {
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  .header._header-scroll {
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
  }

  .header__container--big {
    gap: 1.6875rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #F5F5F5;
    z-index: 3;
    padding-top: 10rem;
    padding-bottom: 2.5rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    text-align: left;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 4.625rem;
    top: 0;
    left: -100%;
    background-color: #F5F5F5;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .menu__item {
    padding-bottom: 0.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 0.0625rem solid #2362B6;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .menu__link {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-transform: uppercase;
    font-size: 1.5625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 2.1875rem;
    height: 1.5625rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color: #292929;
    border-radius: 0.125rem;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.125rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.125rem);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.125rem);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hero__container--big {
    padding-top: 6.25rem;
  }

  .hero__content {
    padding-left: 1.875rem;
  }

  .hero__content:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .hero__title {
    font-size: 5rem;
  }

  .about__container--big {
    padding-top: 3.4375rem;
    padding-bottom: 2.8125rem;
  }

  .about__title {
    font-size: 5.625rem;
  }

  .services__container {
    padding-top: 3.4375rem;
    padding-bottom: 2.8125rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .services__items {
    -webkit-column-gap: 4.0625rem;
    -moz-column-gap: 4.0625rem;
    column-gap: 4.0625rem;
  }

  .item-service__title {
    font-size: 1.375rem;
  }

  .transport__container--big {
    padding-bottom: 2.8125rem;
  }

  .transport__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .slide-transport__title {
    font-size: 1.375rem;
  }

  .company__container--big {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }

  .company__header:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .company-services__container {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }

  .company-services__items {
    -webkit-column-gap: 3.4375rem;
    -moz-column-gap: 3.4375rem;
    column-gap: 3.4375rem;
  }

  .mission__container {
    padding-top: 3.4375rem;
    padding-bottom: 2.1875rem;
    margin-top: 2.8125rem;
    margin-bottom: 3.125rem;
  }

  .mission__title {
    font-size: 2.8125rem;
  }

  .mission__text p {
    font-size: 1.125rem;
  }

  .mission__text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .mission__president {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
  }

  .mission__name {
    font-size: 1.25rem;
  }

  .mission__sign img {
    width: 8.125rem;
  }

  .footer__container {
    padding-top: 2.8125rem;
    padding-bottom: 2.1875rem;
  }

  .footer-info__logo:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .footer-contacts__title {
    font-size: 1.6875rem;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 2.1875rem;
  }

  .map {
    display: none;
  }

  .header__container--big {
    gap: 1.25rem;
  }

  .menu__body {
    padding-top: 8.125rem;
  }

  .hero__container--big {
    margin-top: 5.625rem;
    padding-top: 5.625rem;
  }

  .hero__content {
    padding-left: 0rem;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .hero__services img {
    width: 28.125rem;
  }

  .about__header img {
    width: 6.25rem;
  }

  .about__title {
    font-size: 4.0625rem;
  }

  .item-about {
    padding: 0.9375rem;
  }

  .item-about__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3.125rem;
    flex: 0 0 3.125rem;
    width: 3.125rem;
    height: 3.125rem;
  }

  .item-about__icon img {
    width: 2.1875rem;
    height: 2.1875rem;
  }

  .services__items {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem;
  }

  .item-service {
    padding: 1.5625rem 0.9375rem;
  }

  .item-service__icon {
    margin-bottom: 1.875rem;
  }

  .item-service__text {
    font-size: 1rem;
  }

  .slide-transport__title {
    font-size: 1.25rem;
  }

  .slide-transport__text {
    font-size: 1rem;
  }

  .company__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-company__image--ibg {
    padding-bottom: 98%;
  }

  .company-services__items {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
  }

  .item-company-service__icon {
    -webkit-transform: translate(0rem, 2.5rem);
    -ms-transform: translate(0rem, 2.5rem);
    transform: translate(0rem, 2.5rem);
  }

  .item-company-service__icon img {
    width: 10rem;
  }

  .item-company-service__body {
    padding: 3.125rem 1.875rem 1.875rem 1.875rem;
  }

  .mission__container {
    border-radius: 0rem;
  }

  .mission__container::after {
    content: "";
    border-radius: 0rem;
  }

  .mission__title {
    font-size: 2.3125rem;
  }

  .mission__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .mission__president {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer-info__subtitle {
    font-size: 1.25rem;
    text-align: center;
  }

  .footer-info__link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer-contacts__title {
    text-align: center;
    font-size: 1.5625rem;
  }
}

@media (max-width: 37.5em) {
  .header__logo img {
    width: 8.125rem;
  }

  .header__button {
    font-size: 1.25rem;
  }

  .menu__body::before {
    height: 4rem;
  }
}

@media (max-width: 37.49875em) {
  .company__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 29.99875em) {
  .title {
    font-size: 1.6875rem;
  }

  .header {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
  }

  .header._header-scroll {
    padding-top: 0.4375rem;
    padding-bottom: 0.4375rem;
  }

  .header__container--big {
    gap: 0.9375rem;
  }

  .menu__body {
    padding-top: 6.875rem;
  }

  .menu__body::before {
    height: 3.5625rem;
  }

  .menu__link {
    font-size: 1.25rem;
  }

  .hero__container--big {
    margin-top: 5rem;
    padding-top: 5rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }

  .hero__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }

  .about__container--big {
    padding-top: 2.1875rem;
    padding-bottom: 1.875rem;
  }

  .about__title {
    font-size: 2.8125rem;
  }

  .item-about__text {
    font-size: 1.25rem;
  }

  .item-about__text span {
    font-size: 1rem;
  }

  .services__container {
    padding-top: 2.1875rem;
    padding-bottom: 1.875rem;
  }

  .services__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .services__items {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem;
  }

  .item-service__title {
    font-size: 1.25rem;
  }

  .transport__container--big {
    padding-bottom: 2.1875rem;
  }

  .transport__rectangle {
    bottom: 0;
  }

  .transport__title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .transport__text {
    font-size: 1.125rem;
  }

  .transport__wrapper:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .transport .swiper-pagination-bullet {
    width: 1.875rem;
  }

  .slide-transport__title {
    font-size: 1.125rem;
  }

  .slide-transport__title::before {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1.5625rem;
    flex: 0 0 1.5625rem;
    font-size: 1.125rem;
    height: 1.5625rem;
    width: 1.5625rem;
  }

  .company__container--big {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .company__top {
    margin-bottom: 0.9375rem;
  }

  .company__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .item-company__number {
    font-size: 1.25rem;
  }

  .item-company__number span {
    font-size: 1.125rem;
  }

  .item-company__number--small {
    font-size: 1.125rem;
  }

  .item-company__number--small span {
    font-size: 1rem;
  }

  .company-services__container {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .company-services__items {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem;
  }

  .mission__container {
    padding-top: 2.1875rem;
    padding-bottom: 1.5625rem;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }

  .mission__title {
    font-size: 1.875rem;
  }

  .mission__text p {
    font-size: 1rem;
  }

  .mission__president {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }

  .mission__name {
    font-size: 1.125rem;
    font-weight: 500;
  }

  .mission__sign img {
    width: 5.625rem;
  }

  .footer__container {
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
  }

  .footer__copy {
    font-size: 0.875rem;
  }

  .footer-info__logo {
    text-align: center;
  }

  .footer-info__logo img {
    width: 12.5rem;
  }

  .footer-info__logo:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .footer-contacts__title {
    font-size: 1.375rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 37.5em) {
  .company__wrapper {
    -webkit-column-gap: 2.5rem;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 37.5em) {
  .company__wrapper {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background-color: #d9d9d9;
  }

  .footer-link:hover {
    color: #2362B6;
  }

  .header__button:hover {
    color: #2362B6;
    background-color: #fff;
  }

  .menu__item:hover::after {
    width: 80%;
  }

  .item-service:hover {
    background-color: #fff;
    -webkit-filter: drop-shadow(0.1875rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0.1875rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.25));
  }

  .transport .swiper-pagination-bullet:hover {
    background-color: #2362B6;
  }

  .footer__go-top:hover {
    background-color: #2362B6;
  }

  .footer-contacts__link:hover {
    color: #2362B6;
  }
}

.webp .hero__container--big{ background: url(../img/hero/main-image.webp) center/cover no-repeat; }

.webp .mission__container{ background: url(../img/mission/image-bg.webp) center/cover no-repeat; }